/* button 3d */
.btn3d {
    transition: all 0.08s linear;
    position: relative;
    outline: medium none;
    border: 0px;
    margin-right: 10px;
    margin-top: 15px;
}
.btn3d:focus {
    outline: medium none;
}
.btn3d:active {
    top: 9px;
}
.btn3d.btn-default {
    color: #666666;
    box-shadow: 0 0 0 1px #ebebeb inset,
        0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 8px 0 0 #bebebe,
        0 8px 8px 1px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}
.btn3d.btn-default:active,
.btn3d.btn-default.active {
    color: #666666;
    box-shadow: 0 0 0 1px #ebebeb inset,
        0 0 0 1px rgba(255, 255, 255, 0.15) inset,
        0 1px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.btn3d.btn-explore {
    box-shadow: 0 0 0 1px #31c300 inset,
        0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #5eb924,
        0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #78d739;
}

.btn3d.btn-explore:active,
.btn3d.btn-explore.active {
    box-shadow: 0 0 0 1px #30cd00 inset,
        0 0 0 1px rgba(255, 255, 255, 0.15) inset,
        0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #78d739;
}
